<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form #forgPass="ngForm" novalidate>
                <h2 class="heading">Forgot Your Password</h2>
                <small class="text-muted">Please enter the email address you'd like your OTP information send
                    to</small>
                <br>
                <br>
                <div class="form-group">
                    <label for="fpemail">Email</label>
                    <input type="email" name="fpemail" placeholder="Email" class="form-control" required
                        #uemail="ngModel" [(ngModel)]="emailControl" email>
                    <div *ngIf="uemail.invalid && (uemail.dirty || uemail.touched)" class="alert"
                        style="display: inline; margin-left: -4%;">
                        <small *ngIf="uemail.errors?.['required']" class="text-muted" style="color: red">
                            Email required</small>
                        <small *ngIf="uemail.errors?.['email']" class="text-muted" style="color: red">Invalid
                            email</small>
                    </div>
                </div>


                <div class="d-grid">
                    <button type="submit" class="form-control btn btn-primary">Request OTP</button>
                </div>
                <hr style="height:1px;border:none;color:#333;background-color:#333;">
                <div class="text-center btl">
                    <a routerLink="/">Back To Login</a>
                </div>
            </form>
        </div>
    </div>
</div>